<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%); /* Light blue background */
}

.card {
    background: white;
    width: 250px;
    padding: 16px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}

.card p {
    font-size: 15px;
    color: gray;
    margin-top: 10px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


 